<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Index</h1>
    <a href="/record_live">
        <div style="border: 1px solid black; padding: 20px; margin: 10px; display: inline-block;">
            Record Live
        </div>
    </a>
    <a href="/get_audio_upload">
        <div style="border: 1px solid black; padding: 20px; margin: 10px; display: inline-block;">
            Get Audio Through Upload
        </div>
    </a>
</body>
</html>
